<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://rawgithub.com/soulwire/sketch.js/master/js/sketch.min.js"></script>
    <script src="/javascripts/jcanvas.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>

<body>
    <canvas id="draw" height="300" width="800"></canvas>
</body>


</html>